<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>Usuarios</title>
</head>
<body>
	<div layout:fragment="body">
		<form th:action="@{/usuarios/guardar}" method="POST">
			<div class="form-group">
				<div class="col-sm-4">
					<h6>Usuario</h6>
					<input id="usuario" name="usuario" type="text" size="20"
						maxlength="20" class="form-control text-uppercase"
						data-fv-notempty="true" data-fv-stringlength="true"
						data-fv-stringlength-min="4"
						data-fv-stringlength-message="El usuario debe tener minimo 4 caracteres. Ejemp: ABCD"
						data-fv-regexp="true" data-fv-regexp-regexp="[a-zA-Z]">
					<div>					
					</div>
				</div>
			</div>
			<div class="form-group">
				<div id="dEstatus" class="col-sm-4">
					<h6>Estatus*</h6>
					<select id="estatus" name="estatus" class="form-control">
						<option value="AC">Activo</option>
						<option value="IN">Inactivo</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<input id="usuarioCaptura" name="usuarioCaptura" class="form-control" type="text" placeholder="Usuario" value="LCRUZL"/>
			</div>
			<button type="submit" class="btn btn-primary">Crear</button>
			<p>&nbsp;</p>
			<div class="alert alert-danger" role="alert" th:if="${error}"
				th:text="${error}"></div>
		</form>
	</div>
	
</body>
</html>
