/*::after, ::before {

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}*/

.subrayado {
    border-bottom: black 1px solid;
}
/*
body {
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 400;
    line-height: 1.42857143;
    font-size: 14px;
    color: #333;
}

td, th {
    padding: 0;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}*/